body {
  background-color: hsl(0, 0%, 98%);
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#page-mask {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#title {
  text-align: center;
  font: 26px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#recipe-list {
  border: 3px ridge #0084cd;
  overflow: auto;
  height: 20vh;
  border-radius: 12px;
  width: 50vw;
  margin: auto;
  background-color: white;
}

.recipeBox {
  border: 3px ridge #0084cd;
  border-radius: 12px;
  overflow: auto;
  height: 65vh;
  width: 50vw;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  /* so that button could be positioned relative */
  position: relative;
}

.dialog {
  font-weight: 300;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 40vw;
  height: 25em;
  min-width: 300px;
  box-shadow: 0px 0px 2px black;
  border-radius: 15px;
  background: white;
  border: 0.5px ridge black;
  z-index: 2;
  overflow: auto;
}

.input-title {
  display: block;
  margin: 0.5rem 0.5rem;
}

#recipe-title {
  border-bottom: 0.25px solid #0084cd;
  padding: 4px;
}
#recipe-title:hover {
  background-color: #e6e6e6;
}
#show-recipe-title {
  margin-top: 2px;
  margin-bottom: 8px;
  font-size: 24px;
  padding-bottom: 4px;
  padding-left: 4px;
  background-color: #e6e6e6;
}
.recipeDisplay {
  background-color: #e6e6e6;
  border-bottom: 0.25px solid #0084cd;
}

.fa-trash {
  padding-left: 10px;
  padding-top: 10px;
}
.fa-trash:hover {
  color: #0084cd;
}
.fa-edit {
  padding-left: 10px;
  padding-top: 10px;
}
.fa-edit:hover {
  color: #0084cd;
}
.recipe-display-pane {
  display: inline-block;
}
.fa-plus {
  position: relative;
  left: 5px;
}
.fa-plus:hover {
  color: #0084cd;
}

.ingredients-heading,
.directions-heading {
  margin-left: 7px;
}

.list-directions {
  margin-left: 6px;
}
#add-btn {
  left: 90%;
  top: 10px;
  position: absolute;
}
.form-btns {
  margin: 10px 0px;
}

#close-dialog-btn {
  margin-left: 2px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 5px 12px;
  background-color: black;
}

#close-dialog-btn:hover {
  background-color: #0084cd;
  border: 1px solid #0084cd;
  color: white;
}

#add-save-btn {
  margin-right: 2px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background-color: black;
  padding: 5px 12px;
}

#add-save-btn:hover {
  background-color: #0084cd;
  border: 1px solid #0084cd;
  color: white;
}

#add-save-btn:focus {
  outline: 0;
}
#close-dialog-btn:focus {
  outline: 0;
}
textarea::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

textarea {
  border: 0.5px solid black;
}

#edit-recipe {
  resize: none;
  font-size: 1.1rem;
  width: 75%;
}
#edit-ingredients {
  resize: none;
  font-size: 1.1rem;
  width: 75%;
  height: 20%;
}
#edit-steps {
  resize: none;
  font-size: 1.1rem;
  width: 75%;
  height: 37%;
}

@media only screen and (max-width: 600px) {
  #recipe-list {
    width: 85vw;
  }
  .recipeBox {
    width: 85vw;
  }

  body {
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .dialog {
    width: 90vw;
    height: 80vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  #recipe-list {
    width: 60vw;
  }
  .recipeBox {
    width: 60vw;
  }

  body {
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .dialog {
    width: 55vw;
    height: 50vh;
  }
}
